<h3>Lista dos Alunos</h3>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Nota AV1</th>
        <th>Nota AV2</th>
        <th>Nota AV3</th>
        <th>Média Final</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
     {{#each alunos}}
      <tr>
        <td>{{dataValues.CPF}}</td>
        <td>{{dataValues.Nome}}</td>
        <td>{{dataValues.AV1}}</td>
        <td>{{dataValues.AV2}}</td>
        <td>{{dataValues.AV3}}</td>
        <td>{{dataValues.Media}}</td>
        <td>
          <a href="/editar/{{dataValues.id}}">&#9999;</a>
        </td>
        <td>
          <a href="/deletar/{{dataValues.id}}">&#10060;</a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>